<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChangeRoot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ChangeRoot.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=10.100.11.15\SQL2008R2;Initial Catalog= EKG;User ID=sa;Password=Sli47Mn</value>
            </setting>
        </ChangeRoot.Properties.Settings>
    </userSettings>
</configuration>